<%# locals: (month:) -%>
<%# month is an instance of a Shift::Base sub class. %>

<% dls = Date.new(month.year, month.month, month.length).last_week.sunday if month.month == 3 || month.month == 10 %>

<%= turbo_frame_tag "month_#{month.year}-#{month.month}", class: "g-col-12 g-col-md-6 g-col-lg-4 g-col-xl-3" do %>
  <table class="table table-sm border-dark shift_calendar">
    <caption class="shift_calendar__caption">
      <%= t("date.month_names")[month.month] %> - <%= month.year %>
      <%= current_month?(month.year, month.month) ? "(#{t "calendar.now"})" : "" %>
    </caption>

    <thead class="table-light shift_calendar__head">
      <tr>
        <th rowspan="2"><%= screen_reader_long_text t("calendar.week"), t("calendar.week_long") %></th>
        <th rowspan="2"><%= t("calendar.day") %></th>
        <th rowspan="2"></th>
        <%= tag.th t("calendar.groups"), colspan: month.groups %>
      </tr>
      <tr>
        <% month.groups.times do |i| %>
          <th><%= i + 1 %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% month.each_with_date do |data, date| %>
        <%= tag.tr id: "day_#{date.iso8601}", class: {
          weekend: date.sunday? || date.saturday?,
          today: date.today?
        } do %>
          <%# Week column %>
          <% if date.day == 1 || date.wday == 1 %>
            <td rowspan="<%= week_cell_length date %>" class="week-cell">
              <span><%= date.cweek %></span>
            </td>
          <% end %>

          <%# Day in month column %>
          <%= tag.td(
            tag.time(date.day, datetime: date.iso8601),
            title: dls == date ? daylight_saving_text(date) : nil,
            class: {
              day_in_month: true,
              daylight_saving: dls == date
            }
          ) %>

          <%# Week day column %>
          <td class="weekday">
            <%= screen_reader_long_text date.strftime("%a"), date.strftime("%A") %>
          </td>

          <%# shifts columns %>
          <% data.each_with_index do |shift, index| %>
            <% if shift == :free %>
              <td class="shift_cell"></td>
            <% else %>
              <%= tag.td t("calendar.shifts.#{shift}"), class: ["shift_cell", "group_#{index + 1}", {
                current_shift: shift == @current_shift && !@current_shift_date.nil? && date == @current_shift_date
              }] %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>

    <tfoot class="shift_calendar_footer">
      <tr>
        <td colspan="3" title="<%= t "calendar.sum_info"%>"><%= t "calendar.sum" %></td>
        <% month.work_days_count.each do |i| %>
          <td><%= i %></td>
        <% end %>
      </tr>
    </tfoot>
  </table>
<% end %>
