<%= turbo_frame_tag "month_#{shift.year}-#{shift.month}" do %>
  <table>
    <caption>
      <%= t("date.month_names")[shift.month] %> - <%= shift.year %>
      <%= current_month?(shift.year, shift.month) ? "(#{t "calendar.now"})" : "" %>
    </caption>

    <thead>
      <tr>
        <th>Wo</th>
        <th>Tag</th>
        <th></th>
        <% shift.groups.times do |i| %>
          <th><%= t "calendar.group_short", group: i + 1 %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% shift.each_with_date do |data, date| %>
        <tr id="<%= date.iso8601 %>">
          <% if date.day == 1 || date.wday == 1 %>
            <td rowspan="<%= week_cell_length date %>"><%= date.cweek %></td>
          <% end %>
          <td><time datetime="<%= date.iso8601 %>"><%= date.day %></time></td>
          <td><%= screen_reader_long_text date.strftime("%a"), date.strftime("%A") %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="3" title="<%= t "calendar.sum_info"%>"><%= t "calendar.sum" %></td>
        <% shift.groups.times do |i| %>
          <td><%= i %></td>
        <% end %>
      </tr>
    </tfoot>
  </table>
<% end %>
