<h1>Calendar#show</h1>

<% content_for :cal_nav do %>
  <div class="d-flex mx-md-2">
    <%= link_to(
      "<",
      month_calendar_path(
        year: @previous_month.year,
        month: @previous_month.month
      ),
      title: t("calendar.nav.last_month"),
      class: "nav-link"
    ) %>
    <%= link_to(
      t("calendar.today"),
      calendar_path(anchor: "day_#{Date.current.iso8601}"),
      class: "nav-link mx-3"
    ) %>
    <%= link_to(
      ">",
      month_calendar_path(
        year: @next_month.year,
        month: @next_month.month
      ),
      title: t("calendar.nav.next_month"),
      class: "nav-link"
    ) %>
  </div>
<% end %>

<%= render "legend", shift: @shift %>

<%= tag.div class: "grid", data: {
  controller: "shift-update",
  shift_update_shifts_value: @shift.shifts_times.to_json,
  shift_update_zone_offset_value: Time.current.utc_offset
} do %>
  <%= turbo_frame_tag(
    "month_#{@previous_month.year}-#{@previous_month.month}",
    src: month_calendar_path(
      year: @previous_month.year,
      month: @previous_month.month
    ),
    class: "d-none d-xl-block g-col-12 g-col-md-6 g-col-lg-4 g-col-xl-3"
  ) %>

  <%= render "month", month: @shift %>

  <%= turbo_frame_tag(
    "month_#{@next_month.year}-#{@next_month.month}",
    src: month_calendar_path(
      year: @next_month.year,
      month: @next_month.month
    ),
    class: "d-none d-md-block g-col-12 g-col-md-6 g-col-lg-4 g-col-xl-3"
  ) %>

  <%= turbo_frame_tag(
    "month_#{@next_month.next_month.year}-#{@next_month.next_month.month}",
    src: month_calendar_path(
      year: @next_month.next_month.year,
      month: @next_month.next_month.month
    ),
    class: "d-none d-lg-block g-col-12 g-col-md-6 g-col-lg-4 g-col-xl-3"
  ) %>
<% end %>
