<h1>Calendar#year</h1>

<% content_for :cal_nav do %>
  <div class="d-flex mx-md-2">
    <%= link_to(
      "<",
      year_calendar_path(year: @year - 1),
      title: t("calendar.nav.last_year"),
      class: "nav-link"
    ) %>
    <%= link_to(
      t("calendar.today"),
      calendar_path(anchor: "day_#{Date.current.iso8601}"),
      class: "nav-link mx-3"
    ) %>
    <%= link_to(
      ">",
      year_calendar_path(year: @year + 1),
      title: t("calendar.nav.next_year"),
      class: "nav-link"
    ) %>
  </div>
<% end %>

<%= render "legend", shift: @months[0] %>

<%= tag.div class: "grid", data: {
  controller: "shift-update",
  shift_update_shifts_value: @months[0].shifts_times.to_json,
  shift_update_zone_offset_value: Time.current.utc_offset
} do %>
  <%= render partial: "month", collection: @months %>
<% end %>
