<!DOCTYPE html>
<html lang="de-DE">
<head>
	<meta charset="utf-8">
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<title>Schichtkalender für Bosch Reutlingen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, viewport-fit=cover">
	<meta name="description" content="Inoffizieller Schichtkalender für Bosch Reutlingen. Listet alle Kontischichten von Bosch Reutlingen auf.">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<meta name="apple-mobile-web-app-title" content="Schichtkalender">
	<meta name="application-name" content="Inoffizieller Schichtkalender für Bosch Reutlingen">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#006249">
	<meta name="msapplication-TileColor" content="#006249">
	<meta name="msapplication-TileImage" content="<%= require('./assets/icons/mstile-150x150.png') %>">
	<link rel="apple-touch-icon" sizes="180x180" href="<%= require('./assets/icons/apple-touch-icon.png') %>">
	<link rel="icon" type="image/png" href="<%= require('./assets/icons/favicon-32x32.png') %>" sizes="32x32">
	<link rel="icon" type="image/png" href="<%= require('./assets/icons/favicon-16x16.png') %>" sizes="16x16">
	<link rel="manifest" href="<%= require('./manifest.webmanifest') %>">
</head>
<body>
	<noscript>
		<h3>Javascript muss aktiviert sein, damit sie diese Seite benutzen können!</h3>
		<div id='icsDownload'>
			Wollen sie ihre Schichten bei ihren anderen Termine haben?<br/>
			Fügen sie ihre Schicht zu ihren Kalender auf ihren Gerät hinzu!<br/>
			<a href="<%= require('./assets/6-6_gruppe_1.ics') %>" type="text/calendar">Gruppe 1</a> |
			<a href="<%= require('./assets/6-6_gruppe_2.ics') %>" type="text/calendar">Gruppe 2</a> |
			<a href="<%= require('./assets/6-6_gruppe_3.ics') %>" type="text/calendar">Gruppe 3</a> |
			<a href="<%= require('./assets/6-6_gruppe_4.ics') %>" type="text/calendar">Gruppe 4</a> |
			<a href="<%= require('./assets/6-6_gruppe_5.ics') %>" type="text/calendar">Gruppe 5</a> |
			<a href="<%= require('./assets/6-6_gruppe_6.ics') %>" type="text/calendar">Gruppe 6</a>
			<br/>
			<br/>
			Die Schichtgruppen wurden zuletzt am 02.12.2019 aktualisiert.
		</div>
		<br />
		<p>
			<small>
				<b>Der inoffizielle Schichtkalender für Bosch Reutlingen.</b>
				<br />
				Made by Christopher Astfalk.
				<br />
				Dieser Kalender wird <b><i>nicht</i></b> von der Robert Bosch GmbH™️ bereitgestellt.
				Robert Bosch GmbH™️ haftet nicht für den Inhalt dieser Seite.
				<br />
				Alle Angaben sind ohne Gewähr.
				<br />
				Alle Daten werden nur lokal gespeichert! Deswegen gibt es keine Cookie Meldung.
				<br />
				Lizenz: <a href='https://www.mozilla.org/en-US/MPL/2.0/' target='_blank' rel='noopener'>
					Mozilla Public License 2.0
				</a>
			</small>
		</p>
	</noscript>
</body>
</html>
